@using ProyectoFinalVentaDeBoletos.Models.ViewModels;
@model ComprarAsientoViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Style.css" />
    <title>CineTec</title>
</head>
<body class="body-boletos">
    <div class="movie-container">
        @if (Model.Pelicula != null)
        {
            <label>@Model.Pelicula.Nombre</label>
            <!-- <select id="movie">
            <option value="10">Avengers: Endgame ($10)</option>
            <option value="12">Joker ($12)</option>
            <option value="8">Toy Story 4 ($8)</option>
            <option value="9">The Lion King ($9)</option>
            </select> -->
        }
    </div>

    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>N/A</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>Seleccionado</small>
        </li>
        <li>
            <div class="seat occupied"></div>
            <small>Ocupado</small>
        </li>
    </ul>

    <div class="container-boletos">
        <div class="screen"></div>
        <div class="row">
            @foreach (var asiento in Model.Asientos)
            {
                if (asiento.Ocupado)
                {
                    <div class="seat occupied"></div>
                }
                else if (asiento.Seleccionado)
                {
                    <div class="seat selected"></div>
                }
                else
                {
                    <div class="seat"></div>
                }
            }
        </div>
    </div>

    @if (Model.Pelicula != null)
    {
        <p class="text">
            Tu Seleccionaste <span id="count">@Model.Asientos.Count()</span> asientos <br>
            para la pelicula @(Model.Pelicula.Nombre) por un precio de: <span id="total">$@(Model.Pelicula.Precio)</span>
        </p>
    }
    <div class="continuar" id="continuar-1">Continuar</div>
    <script src="~/CompraAsiento.js"></script>
</body>
</html>