@{
    Layout = "_MainLayout";
}
<link rel="stylesheet" href="~/Peliculas/estilos.css">
<section class="pelicula-info">
    <div class="poster">
        <img src="~/Peliculas/portada.jpg" alt="Los Juegos del Hambre">
    </div>
    <div class="descripcion">
        <h1>Los Juegos del Hambre: La Balada</h1><br>
        <p>The Hunger Games: The Ballad of Songbirds and Snakes</p><br>
        <p>B | 159 min | Acción, Aventura, Drama</p><br><br>
        <p>En este regreso de los Juegos del Hambre, años antes de que se convirtiera en el presidente tirano de Panem, un joven Coriolanus Snow(Tom Blyth) ver la oportunidad de un cambio de fortunas cuando es elegido para ser mentor de Lucy Gray Baird (Rachel Zegler) , la chica tributo del empobrecido Distrito 12. Con la multiganadora perteneciente a la categoría EGOT Viola Davis y el reconocido Peter Dinklage.</p>
        <br>
        <p>Selecciona el horario disponible</p>
        <select id="horarios">
            <option value="horario1">Horario 1</option>
            <option value="horario2">Horario 2</option>
            <option value="horario2">Horario 3</option>
        </select>
        <br />
        <input type="submit" class="comprar-btn" value="Comprar Boletos" />
    </div>
</section>

<section class="otras-peliculas">
    <h2>Otras Películas</h2>
    <div class="peliculas-container">
        <div class="pelicula">
            <img src="~/Peliculas/portada.jpg" alt="Otra Película">
            <h3>Título de Otra Película</h3>
            <p>Año</p>
        </div>
        <div class="pelicula">
            <img src="~/Peliculas/portada.jpg" alt="Otra Película">
            <h3>Título de Otra Película</h3>
            <p>Año</p>
        </div>
        <div class="pelicula">
            <img src="~/Peliculas/portada.jpg" alt="Otra Película">
            <h3>Título de Otra Película</h3>
            <p>Año</p>
        </div>
        <div class="pelicula">
            <img src="~/Peliculas/portada.jpg" alt="Otra Película">
            <h3>Título de Otra Película</h3>
            <p>Año</p>
        </div>
        <div class="pelicula">
            <img src="~/Peliculas/portada.jpg" alt="Otra Película">
            <h3>Título de Otra Película</h3>
            <p>Año</p>
        </div>
    </div>
</section>