@using ProyectoFinalVentaDeBoletos.Models.ViewModels
@model PeliculasViewModel
@{
    Layout = "_MainLayout";
}

<script src="~/Scripts/script.js"></script>
<section class="movies container">
    @*En caso de no tener ninguna pelicula mostrar el h1*@
    @{
        int pelis = 0;
    }
    @*Verificar si hay alguna clasificacion con peliculas peliculas*@
    @foreach (var clasif in Model.Clasificaciones)
    {
        @*Si la clasificacion tiene peliculas mostrar la clasificacion y sus peliculas*@
        if (clasif.Peliculas.Any())
        {
            <h2>@clasif.Nombre</h2>
            <hr>
            <div class="box-container-1">
                @{
                    //Numero de peliculas por clasificacion
                    int pelisClasif = 0;
                }
                @foreach (var peli in clasif.Peliculas)
                {
                    //Aumentamos 1 a las peliculas en la clasificacion
                    pelisClasif++;
                    //Agregar 1 a las peliculas
                    pelis++;
                    //Mostrar la pelicula
                    <a href="~/Pelicula/@peli.Nombre.Replace(' ','-')">
                        <div class="box-1">
                            <div class="content">
                                <img src="~/images/@(peli.Id).jpg" alt="~/images/@(peli.Id).png">
                                <h3>@peli.Nombre</h3>
                                <p>
                                    @peli.Sinopsis
                                </p>
                            </div>
                        </div>
                    </a>
                }
            </div>
            @*
            Mostrar cargar más si hay mas de 4 peliculas
            Problemas:
            - se muestra siempre y no se oculta despues de darle click
            *@
            @if (pelisClasif > 4)
            {
                <div class="load-more" id="load-more-1">Cargar Mas</div>
            }
        }
    }
    @*Si no hay peliculas mostrara el texto*@
    @if (pelis == 0)
    {
        <h1>No hay peliculas</h1>
    }
</section>