<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta de Boletos</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <footer class="footer container">
        <h3> cinemax</h3>
        <ul>
            <li><a href="~/">Inicio</a></li>
            <li><a href="~/Nosotros">Nosotros</a></li>
            <li><a href="~/Peliculas">Peliculas</a></li>
            <li><a href="~/Contacto">Contacto</a></li>
        </ul>
    </footer>
</body>
</html>