@using ProyectoFinalVentaDeBoletos.Areas.Admin.Models.Peliculas
@model AgregarPeliculaViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout= "_AdminLayout";
}
<link rel="stylesheet" href="~/Estilos/Style.css"/>
<section class="form-register">
    <link rel="stylesheet" href="~/Estilos/Style.css" />
    <form method="post" enctype="multipart/form-data">
        <h2>Agregar Pelicula</h2>
        <label class="leyendasagregarPelicula">Nombre:</label>
        <input class="controls" type="text" asp-for="Pelicula.Nombre" placeholder="Ingrese el nombre"><br />

        <label class="leyendasagregarPelicula">Duración:</label>
        <input class="controls" type="time" asp-for="Pelicula.Duracion" placeholder="Ingrese la duracion"><br />
        
        <label class="leyendasagregarPelicula">Precio:</label>
        <input class="controls" type="text" asp-for="Pelicula.Precio" placeholder="Ingrese el precio de la pelicula"><br />

        <label class="leyendasagregarPelicula">Clasificación:</label>
        <select class="controls" asp-for="Pelicula.IdClasificacion" asp-items="Model.Clasificaciones.Select(x=> new SelectListItem{Value = x.Id.ToString(), Text = x.Nombre})"></select>

        <!--Para agregar varios generos a la vez usando checkbox-->
        <group>
            Generos:
            <ul>
                @for (var i = 0; i < Model.Generos.Count(); i++)
                {
                    <li>
                        <a>
                        @*Selecciona el elemento de la lista y verifica si la propiedad checked es true, si ese es el caso se agrega a la lista GenerosSeleccionados*@
                        <input type="checkbox" name="GenerosSeleccionados" value="@Model.Generos.ElementAt(i).IdGenero" @(Model.GenerosSeleccionados.Contains(Model.Generos.ElementAt(i).IdGenero) ? "checked" : "") />
                        @*Mostrar el nombre del genero*@
                        @Model.Generos.ElementAt(i).Nombre
                        </a>
                    </li>
                }
            </ul>
        </group>

        <label class="leyendasagregarPelicula">Año:</label>
        <input class="controls" type="number" asp-for="Pelicula.Año" placeholder="Ingrese el año"><br />

        <label class="leyendasagregarImagenPelicula">Imagen:</label>
        <input class="controls" type="file" asp-for="Imagen" accept="image/jpg" placeholder="Ingrese la imagen" /><br />

        <label class="leyendasPelicula">Trailer (URL):</label>
        <input class="controls" type="url" asp-for="Pelicula.Trailer" placeholder="Ingrese el URL del trailer"><br />

        <label class="leyendasagregarPelicula">Sinopsis:</label>
        <input class="controls" type="text" asp-for="Pelicula.Sinopsis" placeholder="Ingrese la sinopsis"><br />
        @Html.ValidationSummary()
        <input class="botons-agregarPelicula" type="submit" value="Agregar" action="~/Admin/Peliculas/Agregar" />
        <input class="botons-agregarPelicula1" type="button" value="Cancelar" action="~/Admin/Home"/>
    </form>
</section>
