@using ProyectoFinalVentaDeBoletos.Areas.Admin.Models.Peliculas
@model EliminarPeliculaViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
}
<form class="form-delete" method="post">
    <h2>Eliminar Pelicula</h2>
    <label class="leyendasEliminarPelicula">Desea eliminar esta pelicula: </label>
    <input type="number" asp-for="Id" value="@Model.Id" hidden="hidden"/>
    <input type="text" class="leyendasEliminarPelicula1" asp-for="Nombre" value="@Model.Nombre" readonly>
    <a><input class="botons-eliminarPelicula"  asp-action="Eliminar" type="submit" value="Aceptar"/></a>
    <input class="botons-eliminarPelicula1" asp-action="Index" type="submit" value="Cancelar" />
</form>