@using ProyectoFinalVentaDeBoletos.Areas.Admin.Models.Peliculas
@model PeliculasViewModel
@{
    Layout = "_AdminLayout";
}

<h1>Peliculas:</h1>
<section class="lista">
    <ul>
        <li><a href="~/Admin/Pelicula/Agregar">Agregar</a></li>
        @foreach(var peli in Model.Peliculas)
        {
            <li>
                @peli.Id || @peli.Nombre 
                <a href="~/Admin/Pelicula/Eliminar/@peli.Id" id="btnBorrar"></a>
                <a href="~/Admin/Pelicula/Editar/@peli.Id" id="btnEditar"></a>
            </li>
        }
    </ul>
</section>