@model ProyectoFinalVentaDeBoletos.Areas.Admin.Models.Horarios.AgregarHorarioViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="contenedor-agregarhorarios">
    <form method="post" action="~/Admin/Horarios/Editar" enctype="multipart/form-data">
        <br />
        <h1 id="h1AgregarH">Editar Horario</h1>
        <br>

        <label id="labelHPelicula">Pelicula:</label> <br>
        <select id="cmbPeliculas" asp-for="IdPelicula" asp-items="Model.Peliculas.Select(x=> new SelectListItem{Value = x.Id.ToString(),Text = x.Nombre})"></select><br>

        <label id="labelHHorarios">Horarios:</label> <br>
        <select id="cmbHorarios" asp-for="IdHorario" asp-items="Model.Horarios.Select(x=> new SelectListItem{Value = x.IdHorario.ToString(),Text = x.Horario})"></select><br />

        @Html.ValidationSummary()

        <br />
        <div id="divbotonesagghorario">
            <input type="submit" value="Aceptar" />
            <a id="adeagghorarios" href="~/Admin">Cancelar</a>
        </div>
    </form>
</div>
