@using ProyectoFinalVentaDeBoletos.Areas.Admin.Models.Horarios
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
}
<link rel="stylesheet" href="styleVer.css">
 <section>


        <div class="custom-card">
            <h1> Editar Horario</h1>
            <div class="detalle-izquierdo">
                <h2>Selecciona una película</h2>
                <select id="peliculaSelect">
                    <option value="pelicula1">Película 1</option>
                    <option value="pelicula2">Película 2</option>
                    <option value="pelicula3">Película 3</option>
                </select>
            </div>

            <div class="detalle-derecho">
                <h2>Selecciona un horario</h2>
                <select id="horarioSelect">
                    <option value="horario1">Horario 1</option>
                    <option value="horario2">Horario 2</option>
                    <option value="horario3">Horario 3</option>
                </select>
            </div>
        </div>

        <button class="btn-regresar" onclick="regresar()">Regresar</button>
        <button class="btn-aceptar" onclick="aceptar()">Aceptar</button>
    </section>
</section>