@model ProyectoFinalVentaDeBoletos.Areas.Admin.Models.Horarios.AgregarHorarioViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/Estilos/styleHorarios.css">
<section class="contenedor-eliminar-horario">
    <h2>Eliminar Horario</h2>

    <label for="cmbHorarios">Selecciona un horario:</label>
    <select id="cmbHorarios" name="cmbHorarios">
       
    </select>
        <!-- Aqui deberia ir un ciclo para mandar a traer los horarios como en agregar ¿???-->

    <div class="botones-eliminar-horario">
        <button type="submit">Aceptar</button>
        <a href="~/Admin/Horarios/Index">
            <button>Cancelar</button>
        </a>
    </div>
</section>