@using ProyectoFinalVentaDeBoletos.Areas.Admin.Models.Horarios
@model HorariosViewModel
@{
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Layout = "_AdminLayout";
}
<h1>Administrar Horarios</h1>

<section class="lista">
    <ul>
        
        <li><a href="~/Admin/Horarios/Agregar">Agregar</a></li>
        @if (Model.Horarios.Any())
        {
            @foreach (var horario in Model.Horarios)
            {
                <li>
                    @horario.Pelicula.Nombre|| @horario.Horario.HoraInicio - @horario.Horario.HoraTerminacion || Sala @horario.Sala.Id
                    <a href="~/Admin/Horarios/Eliminar/@horario.Horario.Id" id="btnBorrar"></a>
                    <a href="~/Admin/Horarios/Editar/@horario.Horario.Id" id="btnEditar"></a>
                </li>
            }
        }
    </ul>
</section>