@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Administrar Horarios</h1>

<section class="lista">
    <ul>
        <li><a href="~/Horarios/Agregar">Agregar</a></li>
        <li>
            Nombre de la pelicula || 05:00:00 - 05:00:00 || Sala 1
            <a href="~/Admin/Horarios/Eliminar" class="btnBorrar">-</a>
            <a href="~/Admin/Horarios/Editar" class="btnEditar">+</a>
        </li>
    </ul>
</section>