.pelicula-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.poster img {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.descripcion {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.otras-peliculas {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.otras-peliculas .pelicula {
    margin-bottom: 10px;
}

.peliculas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pelicula {
    width: 150px;
    margin: 10px;
    text-align: center;
}

.pelicula img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.comprar-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.comprar-btn:hover {
    background-color: darkred; /* Cambié el color de fondo al hacer hover para visualizar mejor el efecto */
}
