@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #030303;
    font-family: 'Bebas Neue', sans-serif;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(~/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 35px;
    color: #ffffff;
}

/* ESTILOS NAVBAR ADMINISTRADOR */

/* Estilos para el nuevo menú "Horarios" */
.navbar ul li:nth-child(3) ul {
    display: none;
}

.navbar ul li:nth-child(3):hover ul {
    display: block;
}

/* Estilos para el submenu en "Peliculas" y "Horarios" */
.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar ul li:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    text-align: left;
}

/* Estilos para la barra de desplazamiento vertical */
.movies, .schedule {
    max-height: 300px;
    overflow-y: auto;
}



.menu .navbar ul li {
    position: relative;
    float: left;
}

    .menu .navbar ul li a {
        font-size: 22px;
        padding: 20px;
        color: #ffffff;
        display: block;
    }

        .menu .navbar ul li a:hover {
            color: #FF2F28;
        }

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    width: 100%;
}

.header-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: flex-end;
}

    .header-1 img {
        width: 300px;
    }

.header-2 {
    width: 50%;
    margin-top: 80px;
    text-align: end;
}

    .header-2 h1 {
        color: #ffffff72;
        font-size: 80px;
        line-height: 80px;
    }

    .header-2 img {
        width: 70px;
    }

.btn-1 {
    display: inline-block;
    padding: 7px 20px;
    background-color: #FF2F28;
    color: #ffffff;
    font-size: 20px;
}

.btn-2 {
    width: 110px;
    display: inline-block;
    padding: 7px 20px;
    background-color: #FF2F28;
    font-size: 20px;
    margin-top: 30px;
    color: #ffffff;
}

.movies {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #FF2F28;
    width: 50%;
    margin-bottom: 40px;
}

.box-container-1,
.box-container-2,
.box-container-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 40px;
}

.box-1,
.box-2,
.box-3 {
    border-radius: 5px;
    z-index: 1000;
    display: none;
}

    .box-1:nth-child(1),
    .box-1:nth-child(2),
    .box-1:nth-child(3),
    .box-1:nth-child(4) {
        display: inline-block;
    }

    .box-2:nth-child(1),
    .box-2:nth-child(2),
    .box-2:nth-child(3),
    .box-2:nth-child(4) {
        display: inline-block;
    }

    .box-3:nth-child(1),
    .box-3:nth-child(2),
    .box-3:nth-child(3),
    .box-3:nth-child(4) {
        display: inline-block;
    }

.load-more {
    margin-top: 40px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid #FF2F28;
    color: #FF2F28;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
}

    .load-more:hover {
        background-color: #FF2F28;
        color: #ffffff;
    }

.content img {
    width: 100%;
    margin-bottom: 15px;
}

.content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.content {
    color: #cfcfcf;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    margin-top: 100px;
    border-top: 1px solid rgba(119, 6, 6, 0.822)
}

    .footer ul {
        display: flex;
    }

    .footer h3 {
        font-size: 30px;
    }

footer a {
    color: #ffffff;
    font-size: 20px;
    margin-right: 20px;
    display: block;
}

.footer a:hover {
    color: #FF2F28;
}

@media(max-width:991px) {
    .menu {
        padding: 20px;
    }

        .menu label {
            display: initial;
        }

        .menu .navbar {
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #030303;
            display: none;
        }

    .navbar .menu ul li {
        width: 100%;
    }

    .btn-1 {
        display: none;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        flex-direction: column;
        padding: 180px 30x 30px 30px;
    }

    .header-1 {
        width: 100%;
        align-items: center;
    }

    .header-2 {
        width: 100%;
        text-align: center;
    }

    .movies {
        padding: 30px 70px;
    }

    .footer {
        margin-top: 30px;
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

        .footer ul {
            margin-top: 15px;
            justify-content: center;
        }
}

/* VISTA BOLETOS */
.body-boletos {
    background-color: #242333;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', 'sans-serif';
}

.movie-container {
    margin: 20px 0;
}

    .movie-container select {
        background-color: #fff;
        border: 0;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 10px;
        padding: 5px 15px 5px 15px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

.container-boletos {
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .seat.selected {
        background-color: #6feaf6;
    }

    .seat.occupied {
        background-color: #fff;
    }

    .seat:nth-of-type(2) {
        margin-right: 18px;
    }

    .seat:nth-last-of-type(2) {
        margin-left: 18px;
    }

    .seat:not(.occupied):hover {
        cursor: pointer;
        transform: scale(1.2);
    }

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

    .showcase li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

        .showcase li small {
            margin-left: 10px;
        }

.row {
    display: flex;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

p.text {
    margin: 5px 0;
}

    p.text span {
        color: #6feaf6;
    }

.continuar {
    margin-top: 40px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid #FF2F28;
    color: #FF2F28;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}

    .continuar:hover {
        background-color: #FF2F28;
        color: #fff;
    }


/* Agregar Pelicula */



.form-register {
    width: auto;
    background: #24303c;
    padding: 30px;
    margin-top: 70px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 45px;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0px 13px 37px #FF2F28;
}

    .form-register h2 {
        font-size: 42px;
        margin-bottom: 20px;
    }

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    height: max-content;
}

.controls-imagen {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    height: max-content;
}

.form-register p {
    height: 40px;
    text-align: justify;
    font-size: 28px;
}

.form-register .botons-agregarPelicula {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: #ffffff;
    margin: 16px 0;
    font-size: 16px;
}

.form-register .botons-agregarPelicula1 {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: #ffffff;
    margin: 16px 0;
    font-size: 16px;
}

/* Eliminar pelicula */
.form-delete {
    width: 850px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 220px;
    margin-bottom: 60px;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0px 13px 37px #FF2F28;
}

.leyendasEliminarPelicula {
    font-size: 23px;
}

.leyendasEliminarPelicula1 {
    font-size: 23px;
    padding: 10px;
}

.controls-eliminar {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-top: 10px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    height: max-content;
}

.botons-eliminarPelicula {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: #ffffff;
    margin: 16px 0;
    font-size: 16px;
}

.botons-eliminarPelicula1 {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: #ffffff;
    font-size: 16px;
}
/*Index Horarios*/

.lista ul li:not(:first-of-type) a, .listado .botones input, .listado .botones a {
    display: block;
    width: 21px;
    height: 21px;
    margin: 2px;
    border: 0;
    background-size: contain;
}

.lista ul li:first-of-type {
    background: none;
}

    .lista ul li:first-of-type a {
        background: none;
        background: grey;
        padding: 2px 10px;
    }

.btnEditar {
    background-image: url(~/images/editar.png
}

.btnBorrar {
    background-image: url(~/images/borrar.png);
}

.lista ul, .lista > form {
    padding: 0;
    margin: 10px;
    list-style: none;
}

.lista select {
    padding: 5px;
    width: 100%;
}


.lista ul li {
    padding: 5px;
    font-size: 1.5em;
    margin-bottom: 5px;
    background: grey;
    color: white;
    overflow: hidden;
}

.lista ul a {
    color: white;
    text-decoration: none;
    float: right;
}